* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilização para o body */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

/* Container principal */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.title {
	font-size: 2em;
	margin-bottom: 10px;
	color: #4CAF50; /* Cor verde similar ao tema PrimeFaces */
}

/* Parágrafo */
p {
	font-size: 1em;
	margin-bottom: 20px;
	line-height: 1.5;
}

/* Links */
a {
	color: #4CAF50;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Botões */
button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
}

button:hover {
	background-color: #45a049;
}

/* Formulários */
input[type="text"], input[type="password"], textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0 20px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.top-right-link {
	position: absolute;
	Bottom: 10px;
	left: 10px;
}